input {
    file {
        path => "/Users/michaelkim/ot-main-reviews/Review/db/ElasticSearch/reviews.csv"
        start_position => "beginning"
    }
}

filter {
    csv {
        separator => ","

        columns => ["review_id", "user_name", "location", "number_of_reviews", "profilePicture", "vipStatus", "overall_rating", "food_rating", "service_rating", "ambience_rating", "comment", "r_id", "date_dined"]
    }
    mutate {convert => ["review_id", "integer"]}
    mutate {convert => ["number_of_reviews", "integer"]}
    mutate {convert => ["vipStatus", "boolean"]}
    mutate {convert => ["overall_rating", "integer"]}
    mutate {convert => ["food_rating", "integer"]}
    mutate {convert => ["service_rating", "integer"]}
    mutate {convert => ["ambience_rating", "integer"]}
    mutate {convert => ["r_id", "integer"]}
}

output {
    elasticsearch {
        hosts => "localhost"
        index => "reviews"
        document_type => "restaurant_review"
    }
    stdout {}
}